:root {
  --main-bg: #1E2841;
  --back-bg: #171C29;
  --second-bg: #222B41;
  --text: #657395;
  --placeholder-text: #737F92;
  --header: #27324F;
  --header-text: #919EBA;
  --button-normal: #2E4C80;
  --white: #FFFFFF;
  --bright: #FFFFFF;
  --accent: #3C78E0;
  --green: #54B489;
  --red: #E85E59;
  --selected-item: #3A4663;
  --gamboge: #E0A300;

  /* linear-gradients */
  --background-dropdown: var(--button-normal);
  --background-dropdown-hover: var(--header-text);
  --button-dark-gray: linear-gradient(0deg, rgba(#fff, 0.5), rgba(#fff, 0.5)), var(--color-white);
  --copyable-field-border: var(--base-2);
  --header-border: var(--placeholder-text);
  --input-block-border-color: var(--placeholder-text);
  --sign-in-accent: var(--accent);
  --table-header-color: var(--placeholder-text);
  --table-header-text: var(--placeholder-text);
  --text-muted: var(--placeholder-text);
  --trading-header-background: var(--back-bg);
  --trading-header-btn-open: var(--table-dark-header-color);
  --trading-grid-background: #182034;
  --trading-screen-background: var(--back-bg);

  /* KYC */
  --kyc-circle-color: var(--main-bg);

  /* orders */
  --orders-button-percentage-text: var(--header-text);
  --orders-border-color: var(--text);
  --orders-button-percentage-normal: linear-gradient(0deg, rgba(#000, 0.11), rgba(#000, 0.11)), var(--selected-item);
  --orders-button-percentage-hover: linear-gradient(0deg, rgba(#fff, 0.1), rgba(#fff, 0.1)), var(--orders-button-percentage-normal);
  --orders-button-percentage-active: linear-gradient(0deg, rgba(#000, 0.1), rgba(#000, 0.1)), var(--orders-button-percentage-normal);
  --orders-button-green-normal: var(--green);
  --orders-button-green-hover: linear-gradient(0deg, rgba(#fff, 0.1), rgba(#fff, 0.1)), var(--orders-button-green-normal);
  --orders-button-green-active: linear-gradient(0deg, rgba(#000, 0.1), rgba(#000, 0.1)), var(--orders-button-green-normal);
  --orders-button-red-normal: var(--red);
  --orders-button-red-hover: linear-gradient(0deg, rgba(#fff, 0.1), rgba(#fff, 0.1)), var(--orders-button-red-normal);
  --orders-button-red-active: linear-gradient(0deg, rgba(#000, 0.1), rgba(#000, 0.1)), var(--orders-button-red-normal);

  /* NavBar languages */
  --navbar-language-selector-background: var(--button-normal);
  --navbar-language-selector-color: var(--placeholder-text);
  --navbar-language-selector-current-color: var(--text);
  --navbar-language-selector-current-background: var(--header);
  --navbar-language-selector-color-hover: var(--white);
  --navbar-language-selector-background-hover: var(--header);

  /* wallets */
  --estimated-value-background: var(--base-bright);
  --estimated-value-label-text: var(--white);
  --estimated-value-label-background: var(--header);

  --beneficiaries-primary-0-8: rgba(255, 255, 255, 0.8);
  --beneficiaries-primary-0-1: rgba(255, 255, 255, 0.1);
  --beneficiaries-primary-0-06: rgba(255, 255, 255, 0.06);
  --beneficiaries-primary-0-04: rgba(255, 255, 255, 0.04);

  /* sidebar */
  --nav-item-selected: #00307f;
  --nav-item-hover: #00307f;
}
